<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap"
            rel="stylesheet" />

        <link rel="stylesheet" href="/style.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous" />

       
        
            <link rel="icon" href="/downloads/faviconnon.ico" type="image/x-icon">
        <title>Industrias Biológicas-Químicas</title>
    </head>
    <body class="fondo">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand">
                    Industrias biológicas
                    <img
                        src="/downloads/1668 sin título_20230807151431.png"
                        class="img-thumbnail"
                        alt="." />
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <button
                                class="btn nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Acciones
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Tecnologías</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/views/TerapiasGeneticas.html"
                                        >Terapias Geneticas</a
                                    >
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" href="/views/problemas.html"
                                        >Investigacion Geneticas</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <div class="sin-ing">
                            <div class="dropdown">
                                <button
                                    type="button"
                                    class="btn btn-success dropdown-toggle custom-dropdown"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    data-bs-auto-close="outside"
                                    id="iniciarsesion">
                                    Inicio de sesión
                                </button>
                                <form class="dropdown-menu p-4">
                                    <div class="mb-3">
                                        <label
                                            for="exampleDropdownFormEmail2"
                                            class="form-label"
                                            >Email
                                        </label>
                                        <input
                                            type="email"
                                            class="form-control"
                                            id="exampleDropdownFormEmail2"
                                            placeholder="email@example.com" />
                                    </div>
                                    <div class="mb-3">
                                        <label
                                            for="exampleDropdownFormPassword2"
                                            class="form-label"
                                            >Contraseña</label
                                        >
                                        <input
                                            type="password"
                                            class="form-control"
                                            id="exampleDropdownFormPassword2"
                                            placeholder="Password" />
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input
                                                type="checkbox"
                                                class="form-check-input"
                                                id="dropdownCheck2" />
                                            <label
                                                class="form-check-label"
                                                for="dropdownCheck2">
                                                Recordar
                                            </label>
                                        </div>
                                    </div>
                                    <button
                                        type="submit"
                                        class="btn btn-primary">
                                        Corfirmar
                                    </button>
                                </form>
                            </div>
                            
                        </div>
                        <li class="nav-item">
                            <a
                                class="nav-link disabled"
                                aria-disabled="true"></a>
                        </li>
                        <p>
                            <button
                                class="btn btn-primary"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseWidthExample"
                                aria-expanded="false"
                                aria-controls="collapseWidthExample">
                                INFORMACIÓN
                            </button>
                        </p>
                        <div class="Contactos">
                            <div class="email">
                             <img src="/downloads/Email.png" class="img-thumbnail" alt="...">
                            </div>
                            
                         </div>
                    </ul>
                    <form class="d-flex" role="search">
                        <input
                            class="form-control me-2"
                            type="search"
                            placeholder="buscador"
                            aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">
                            buscar
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="informacionNon" style="min-height: 120px">
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
                <div class="card card-body" style="width: 300px">
                    Hola a todos somos una Empresa dedicada a la investigacion y estudio
                    del Dogma Humano(Toda la estructura del ADN ya sea histonas,
                    proteina,codones )
                </div>
            </div>
        </div>
        <div class="lapagina">
            <div class="pagina2">
                <div class="botones">
                    <button
                        type="button"
                        class="btn btn-danger dogmaButtons botonrojo"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        data-bs-auto-close="outside"
                        href="/"
                        id="reiniciarDogma">
                        Reiniciar
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary dogmaButtons botonazul"
                        id="showLipidsButton"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        data-bs-auto-close="outside">
                        Iniciar dogma
                    </button>
                    <button
                        type="button"
                        class="btn btn-success dogmaButtons botonverde"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        data-bs-auto-close="outside"
                        id="GuardadoDeDogmas">
                        Guardar
                    </button>
                </div>
                <div class="Mensaje" id="miDiv">
                    
                <div class="contenedorInputs">

                    <div id="output" class="text0"></div>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="En este lugar el ARNM hace una copia de la cadena de ADN con algunas modificaciones, que son trasformanfo La T(tinina) con la U y la A se traforma EN T">
                        ARNM
                      </button>                      
                    <div id="oppositeOutput" class="text0"></div>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="En este lugar el ARMT traduce la trascripcion o la copia del ARNM y lo traduce a priteinas que seran utilizadas ">
                        ARNT
                      </button>
                      
                    <div id="traduccion" class="text0"></div>

                    <div class="mensajeNashe">

                        <p>
                            <button class="botonDelinfoDogma btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                informacionDelADN
                            </button>
                        </p>
                       
            </div>
                <div class="GuardadoTotal modal-content">
                    <div id="Guardado0utput" class="SaveConteiners"></div>
                    <div id="Guardado0utput"></div>
                    <div id="GuardadoOppositeOutput"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
    <div class="collapse1 collapse" id="collapseExample">
        <div class="infoDofmaLol infoDelDogma card card-body">
           en el ADN hay proteinas  llamadas : T(Tinina),A(Adenina),C(Citocina),G(guinina).
           en la tracripcion lo que sesuece es que se camba al T por la A y la A se cambia por la U (es el proseso del ARNM ).
           y por ultimo el ARNT que traduce todo a proteinas 
        </div>
    </div>

    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

                    

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        <script src="/scripts.js"></script>
        <script src="/controllers/Save.js"></script>
        <script src="/serverd.js"></script>
        <script src="/controllers/Reset.js"></script>
        <script>

            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    
        </script>
    </body>
</html>
<!-- collapse  de boostrap 5.2v-->
